.box {
  border-radius: 0;
  padding: 1rem;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.875rem;
}

button {
  background: transparent;

  svg {
    fill: white;
  }
}
