@import "variables";

.box {
  border-radius: 0 0 8px 8px;
  padding: 1rem;
  background-color: $color-bone;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .user {
    display: flex;
    align-items: center;
  }

  button {
    background: transparent;

    svg {
      fill: black;
    }
  }
}

