<p class="question-number">Question 1/10</p>
<progress class="progress is-small mb-6" value="15" max="100">15%</progress>
<div class="meta mb-1">
  <p class="category">Géographie</p>
  <p>20 points</p>
</div>
<div class="box question">
  <p class="has-text-centered has-text-weight-semibold">Quelle est la capitale de la France ?</p>
</div>
<div class="answers columns is-multiline">
  <div class="column is-full-mobile is-half-desktop">
    <button class="box answer is-wrong" type="button">
      <app-answer-letter-tag letter="A"></app-answer-letter-tag>
      <p class="answer_label">Paris</p>
    </button>
  </div>
  <div class="column is-full-mobile is-half-desktop">
    <button class="box answer" type="button">
      <app-answer-letter-tag letter="B"></app-answer-letter-tag>
      <p class="answer_label">Paris</p>
    </button>
  </div>
  <div class="column is-full-mobile is-half-desktop">
    <button class="box answer is-correct" type="button">
      <app-answer-letter-tag letter="C"></app-answer-letter-tag>
      <p class="answer_label">Paris</p>
    </button>
  </div>
  <div class="column is-full-mobile is-half-desktop">
    <button class="box answer" type="button">
      <app-answer-letter-tag letter="D"></app-answer-letter-tag>
      <p class="answer_label">Paris</p>
    </button>
  </div>
</div>
